a{
	color: blue;
}
a:hover{
	color: #000000;
	background: white; 
	text-decoration: none;
	cursor: pointer;
}
ul.outer{     
  border: 1px solid black; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}